.nav-t{
    color: black !important;
    text-decoration: none !important;
  
  }
  

  /* .nav-item:hover{
    background-color:#008CBA;
    color: whitesmoke !important;
    border-radius: 20px !important;
    
  } */